<h1><%= t "admin.users.title_recipe" %></h1>
<div class="recipe_table">
  <%= render "recipes" %>
</div>

<div class="modal fade" id="myModal" role="dialog"></div>
<div class="modal fade" id="activityModal" role="dialog"></div>
